

@import 'mix';

@media only screen and (max-width: $containerWidth){
    #navigation{
        .nav{
            width: 100% !important;
            border-radius: 0 !important;
            padding: 0 $m * 3 !important;
            background-color: rgba($black, $_opacity) !important;
            border-color: rgba($_white, $___opacity / 4) !important;
            height: $smallNavHeight !important;
        }
    }
    #gallery{
        #galleryContent{
            width: auto !important;
        }
    }

    #item{
        width: auto !important;
        #itemContent{
            flex-direction: column-reverse !important;
            width: auto !important;
        }
    }
    #about{
        #aboutContent{
            width: auto !important;
            flex-direction: column !important;
            
            .leftSide{
                display: flex;
                flex-direction: row !important;
                justify-content: space-around;

                >*{
                    flex: 1 !important;
                    height: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 900px){
    #navigation{
        .nav{
            .menu{
                .navItems{
                    .navItem{
                        display: none !important;
                        &.toggler{
                            display: block !important;
                        }
                        &.visible{
                            display: block !important;
                        }
                    }
                }
            }
        }
    }
    #gallery{
        .galleryNavigation{
            flex-direction: column !important;

            >*{
                margin: $m 0;
            }
        }
    }
    #about{
        #aboutContent{
            padding: 0 !important;
            .leftSide{
                .preForm{
                    display: none;
                }
                align-items: center;
            }
        }
    }
}

@media only screen and (max-width: 785px){
    #home{
        .texts{
            .brand{
                flex-direction: column !important;
                text-align: center;
                align-items: center !important;
                .text{
                    font-size: $___fs !important;
                }
            }
        }
    }
    #gallery{
        .galleryNavigation{
            flex-direction: column !important;

            .categories{
                width: 100%;
                text-align: center !important;
                .list{
                    flex-direction: column !important;
                    align-items: stretch;
                    width: 100%;
                    .listItem{
                        width: 100%;
                        margin: $m / 2  0 !important;
                    }
                }
            }
        }
        .data-column.list{
            margin: 0;

            .data-item{
                .metas{
                    flex-direction: column;
                    .metaItems{
                        flex-direction: column !important;
                        width: 100%;
                        .meta{
                            flex: 1;
                            width: 100%;
                        }
                    }
                    .readMore{
                        width: 100%;
                        a{
                            display: block;
                            width: 100%;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    #item{
        #itemContent{
            padding: 0 !important;
            .data{
                flex-direction: column !important;
            }
            .images{
                height: 350px !important;
            }
        }
    }
    #about{
        #aboutContent{
            .leftSide{
                display: flex;
                flex-direction: column !important;
                .preForm{
                    display: block !important;
                }
                >*{
                    flex: 1;
                    width: 100%;
                }
            }
        }
    }
}