

@import 'mix';

@media only screen and (max-width: $containerWidth){
    #navigation{
        .nav{
            width: 100% !important;
            border-radius: 0 !important;
            padding: 0 $m * 3 !important;
            background-color: rgba($black, $_opacity) !important;
            border-color: rgba($_white, $___opacity / 4) !important;
            height: $smallNavHeight !important;
        }
    }
    #gallery{
        #galleryContent{
            width: auto !important;
        }
    }
}

@media only screen and (max-width: 900px){
    #navigation{
        .nav{
            .menu{
                .navItems{
                    .navItem{
                        display: none !important;
                        &.toggler{
                            display: block !important;
                        }
                        &.visible{
                            display: block !important;
                        }
                    }
                }
            }
        }
    }
    #gallery{
        .galleryNavigation{
            flex-direction: column !important;

            >*{
                margin: $m 0;
            }
        }
    }
}

@media only screen and (max-width: 542px){
    #home{
        .texts{
            .brand{
                flex-direction: column !important;
                text-align: center;
                align-items: center !important;
                .text{
                    font-size: $___fs !important;
                }
            }
        }
    }
    #gallery{
        .galleryNavigation{
            flex-direction: column !important;

            .categories{
                width: 100%;
                text-align: center !important;
                .list{
                    flex-direction: column !important;
                    align-items: stretch;
                    width: 100%;
                    .listItem{
                        width: 100%;
                        margin: $m / 2  0 !important;
                    }
                }
            }
        }
        .data-column.list{
            margin: 0;
        }
    }
}