.mp0 {
  margin: 0;
  padding: 0; }

.wideNav {
  width: 100%;
  border-radius: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(249, 249, 249, 0.05);
  height: 65px;
  padding-top: 0;
  padding-bottom: 0; }

@media only screen and (max-width: 1333px) {
  #navigation .nav {
    width: 100% !important;
    border-radius: 0 !important;
    padding: 0 30px !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    border-color: rgba(249, 249, 249, 0.05) !important;
    height: 65px !important; }

  #gallery #galleryContent {
    width: auto !important; }

  #item {
    width: auto !important; }
    #item #itemContent {
      flex-direction: column-reverse !important;
      width: auto !important; }

  #about #aboutContent {
    width: auto !important;
    flex-direction: column !important; }
    #about #aboutContent .leftSide {
      display: flex;
      flex-direction: row !important;
      justify-content: space-around; }
      #about #aboutContent .leftSide > * {
        flex: 1 !important;
        height: 100%; } }
@media only screen and (max-width: 900px) {
  #navigation .nav .menu .navItems .navItem {
    display: none !important; }
    #navigation .nav .menu .navItems .navItem.toggler {
      display: block !important; }
    #navigation .nav .menu .navItems .navItem.visible {
      display: block !important; }

  #gallery .galleryNavigation {
    flex-direction: column !important; }
    #gallery .galleryNavigation > * {
      margin: 10px 0; }

  #about #aboutContent {
    padding: 0 !important; }
    #about #aboutContent .leftSide {
      align-items: center; }
      #about #aboutContent .leftSide .preForm {
        display: none; } }
@media only screen and (max-width: 785px) {
  #home .texts .brand {
    flex-direction: column !important;
    text-align: center;
    align-items: center !important; }
    #home .texts .brand .text {
      font-size: 40px !important; }

  #gallery .galleryNavigation {
    flex-direction: column !important; }
    #gallery .galleryNavigation .categories {
      width: 100%;
      text-align: center !important; }
      #gallery .galleryNavigation .categories .list {
        flex-direction: column !important;
        align-items: stretch;
        width: 100%; }
        #gallery .galleryNavigation .categories .list .listItem {
          width: 100%;
          margin: 5px 0 !important; }
  #gallery .data-column.list {
    margin: 0; }
    #gallery .data-column.list .data-item .metas {
      flex-direction: column; }
      #gallery .data-column.list .data-item .metas .metaItems {
        flex-direction: column !important;
        width: 100%; }
        #gallery .data-column.list .data-item .metas .metaItems .meta {
          flex: 1;
          width: 100%; }
      #gallery .data-column.list .data-item .metas .readMore {
        width: 100%; }
        #gallery .data-column.list .data-item .metas .readMore a {
          display: block;
          width: 100%;
          text-align: center; }

  #item #itemContent .data {
    flex-direction: column !important; }
  #item #itemContent .images {
    height: 350px !important; }

  #about #aboutContent .leftSide {
    display: flex;
    flex-direction: column !important; }
    #about #aboutContent .leftSide .preForm {
      display: block !important; }
    #about #aboutContent .leftSide > * {
      flex: 1;
      width: 100%; } }

/*# sourceMappingURL=media.css.map */
